.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    visibility: hidden;
    }
.login-image{
    height: 25%;
    width:25%;
}



/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
   /* height: 450px;*/
    overflow-y: auto;
}